<template>
    <!-- components decleration -->
    <Counter />
    <Counter-squared/>
    <Buttons/>
    <Color-code/>
</template>

<script>

export default {
  name: 'HomeView',
  
  // methods:{
  //   increase(){ 
  //     this.count++
  //   },
  //   decrease(){
  //     this.count--
  //   }
  // }
 
  components:{
    //heree where different components are imported
    'Counter':require('@/components/Counter.vue').default,
    'Buttons': require('@/components/Buttons.vue').default,
    'Counter-squared':require('@/components/CounterSquared.vue').default,
    'Color-code': require('@/components/ColorCode.vue').default,
  }

}
</script>
<style >

</style>