<template>
  <div class="buttons">
    <button @click="$store.dispatch('decrease')">-</button>
    <button @click="$store.dispatch('increase')">+</button>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>