<template>
  <input placeholder="Enter color code" type="text" v-model="colorCode"/>
</template>

<script>
export default {
 computed:{
    colorCode:{
      get(){
        return this.$store.state.colorCode
      },
      set(newValue){
        this.$store.dispatch('setColorCode', newValue)
      }
    }
  },
}
</script>

<style>

</style>