<template>
  <div class="squared-number">
    {{$store.state.count}}
    <sup>2</sup> = {{$store.getters.counterSquare}}
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>