  <template>
  <!-- counter component decleration using state store -->
  <div class="counter" :style="{color : $store.state.colorCode}">
    {{$store.state.count}}
  </div>  
  </template>
  
  <script>
  export default {
  
  }
  </script>
  
  <style>
  .counter{
  font-size:45px;
}
  </style>